<body>
    <header style="background-color: #00559E; color: white; text-align: center">
        <h1>Sweet Hub</h1>
        <h2>Validação de Email</h2>
    </header>
    <main style="text-align: center;">
        <p style="font-weight: bold;">Olá, {{name}}!</p>
        <p>Para validar seu email, acesse o link abaixo:</p>
        <a href="{{link}}" target="_blank">{{link}}</a>
        <p style="color: red; font-weight: bold;">Não compartilhe este link com ninguém!</p>
        <p style="color: red; font-weight: bold;">Este link expira em 15 minutos!</p>
        <p>Se você não solicitou a validação, por favor, ignore este email.</p>
        <p>Atenciosamente, Sweet Hub.</p>
    </main>
    <footer>
        <p>&copy; Sweet Hub 2024. Todos os direitos reservados.</p>
    </footer>
</body>