<body>
    <header style="background-color: #00559E; color: white; text-align: center; padding: 30px;">
        <h1>Sweet Hub</h1>
        <h2>Validação de Email</h2>
    </header>
    <main style="padding: 25px;">
        <p style="font-weight: bold; color: black; text-align: center">Olá, {{name}}!</p>
        <p style="color: black; text-align: center">Para validar seu email, acesse o link abaixo:</p>
        <a href="{{link}}" target="_blank"><p style="text-align: center;">{{link}}</p></a>
        <p style="color: red; font-weight: bold; text-align: center">Não compartilhe este link com ninguém!</p>
        <p style="color: red; font-weight: bold; text-align: center">Este link expira em 15 minutos!</p>
        <p style="color: black; text-align: center">Se você não solicitou a validação, por favor, ignore este email.</p>
        <p style="color: black; text-align: center">Atenciosamente, Sweet Hub.</p>
    </main>
    <footer>
        <p style="text-align: center;">&copy; Sweet Hub 2024. Todos os direitos reservados.</p>
    </footer>
</body>